scikit-learn==1.2.2
pandas==1.5.3
dabl==0.2.5
sklearn==1.2.2
numpy==1.26.2
python -m pip install prophet
matplotlib==3.6.1
pandas==2.1.3
seaborn==0.11.1
optuna==3.4.0
numpyro==0.13.2
plotly==5.18.0
lightweight_mmm==0.1.9
jax==0.4.20