
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

#Pycharm
*.idea
*.DS_Store
# Notebook Exports as html
*.html

# Private File 
# ML/Notebooks/Bike Sharing Time Series Forecasting.ipynb
